{
    max-width: 700px;
}

.text_cell .prompt {
    display: none;
}

div.cell {
    padding: 0;
}

div.text_cell_render {
    padding: 0;
}

div.text_cell_render p {
    margin: 0;
}

div.prompt {
    font-size: 13px;
    display: None;
}

div.input_prompt {
    display: None;
}

div.output_prompt {
    display: None;
}

div.input_area {
    margin: .2em 0.4em;
}

.dataframe {
  width: inherit;
}

table {
  table-layout: fixed;
  width: unset;
}

table.dataframe {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

table.dataframe th, td {
    padding: 4px;
    text-align: left;
}

pre code {
    background-color: inherit;
}
